@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

.header_box {
    width: 100%;
    height: 100%;
    background-color: #08101E;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1230px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.top_left {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_icon_left {
    background-image: url(img/Group\ 397.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 283.09px;
    height: 57px;
    margin-right: 100px;
}

a {
    margin-right: 35px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;

}

.top_second_div {
    width: 451px;
    height: 22px;
    margin-right: 120px;
}

.button {
    width: 112px;
    height: 52px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: #3A68B8;
    display: flex;
    justify-content: center;
    align-items: center;

}

button {

    border: none;
    cursor: pointer;
}

.header_top {
    width: 1230px;
    height: 600px;
    margin-top: 50px;
    display: flex;
    margin-bottom: 90px;
}

.header_top_left {
    width: 630px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inline_top_left {
    width: 604px;
    height: 415px;
}

.header_top_right {
    width: 50%;
    height: 600px;
    background-image: url(img/91.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
}

@media screen and (max-width: 1260px) {
    .header_top_right {
        margin-top: 50px;
        width: 500px;
        height: 500px;
    }

}

.inline_top_left_word_first {
    width: 265px;
    height: 29px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}

.inline_top_left_word_second {
    width: 100%;
    height: 142px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 15px;
}

.inline_top_left_word_third {
    width: 558px;
    height: 87px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 20px;
}

span {
    width: 111px;
    height: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.botton_left {
    padding: 15px 30px;
    width: 171px;
    height: 57px;
    color: white;
    background: #3A68B8;
    border-radius: 5px;
    margin: 90px 47px;
}

.botton_right {
    padding: 15px 30px;
    width: 217px;
    height: 57px;
    background: #3A68B8;
    border-radius: 5px;
}

.bottom {
    width: 1146.45px;
    height: 59px;
    display: flex;
    justify-content: space-between;
}

.vector_one {
    background-image: url(img/Group\ 400.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 217.64px;
    height: 58.9px;
}

.vector_two {
    background-image: url(img/Group\ 401.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 212.3px;
    height: 59px;
}

.vector_three {
    background-image: url(img/Group\ 402.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 206.9px;
    height: 59px;
}

.vector_four {
    background-image: url(img/Group\ 403.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 294.45px;
    height: 59px;
}

/* SECOND PAGE */
.header_box_second_page {
    width: 100%;
    height: 100%;
    background-color: #020A18;
}

.second_main_box {
    width: 1277px;
    height: 669px;
    display: flex;
}
.second_box_left {
    width: 50%;
    height: 100%;
    background-color: red;
}
.second_box_right {
    width: 50%;
    height: 100%;
    background-color: white;
}